<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Carolina's Landing Page - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>

<body>

<!-- ======= Presentation Section ======= -->
<section id="presentation" class="presentation d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Transform your finances, boost your business</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Develop yourself as a professional in personal finance and for your
          Startup</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a class="btn btn-get-started d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/features.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Presentation Section -->

<main>

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Meet Carolina</h3>
            <h2>Expert facilitator in finance and business development.</h2>
            <p>
              My mission is to empower professionals and entrepreneurs with solid financial strategies and practical
              knowledge that drive their business growth. Through my courses, you will learn to make informed financial
              decisions, maximize your resources, and take your business ideas to new horizons.
            </p>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/blog-author.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <section id="courses" class="courses">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>My Courses</h2>
        <p>Become an expert</p>
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/courses/course_1.png" class="img-fluid" alt="">
            <h3>Digital Marketing: Accelerate your Entrepreneurship</h3>
            <p>Learn how to navigate the dynamic world of digital marketing and use it to drive the growth of your
              business. This course will equip you with the tools necessary to capture your audience's attention,
              improve your brand's online presence, and convert clicks into customers.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/courses/course_2.svg" class="img-fluid" alt="">
            <h3>Finance for Entrepreneurs: Master your Numbers</h3>
            <p>Master essential financial skills to take your business to the next level. This course will teach you how
              to interpret financial data, make projections and manage cash flow, ensuring a solid foundation for making
              business decisions.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/courses/course_3.png" class="img-fluid" alt="">
            <h3>Smart Investment for Beginners</h3>
            <p>Immerse yourself in the world of investments with a clear and simple guide. Discover how to evaluate
              opportunities, diversify your portfolio and minimize risks. This course is designed to help you grow your
              wealth in an intelligent and thoughtful way.
            </p>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/courses/course_4.png" class="img-fluid" alt="">
            <h3>Budget Strategies for Startups</h3>
            <p>Learn how to create and manage an effective budget that reflects your startup's priorities and goals.
              This course will provide you with strategies to optimize resources, plan future expenses and maintain the
              financial health of your project.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/courses/course_5.png" class="img-fluid" alt="">
            <h3>Financial Planning for Business Success</h3>
            <p>Establish a robust financial plan that aligns your business goals with practical, achievable strategies.
              Through this course, you will understand how to plan for long-term growth, handle unforeseen events, and
              ensure the sustainability of your business.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/courses/course_6.png" class="img-fluid" alt="">
            <h3>Debt and Credit Management for Growing Businesses</h3>
            <p>Navigate the challenges of debt and credit management as business growth tools. This course will provide
              you with the knowledge to use credit strategically, manage debt efficiently, and avoid common financial
              traps.
            </p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Courses Section -->

</main>
</body>

<html>
