<footer class="bg-primary text-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <h5>Carolina's Landing Page</h5>
        <p>I am Carolina, a financial analyst and mentor for entrepreneurs on social networks. At 34 years old, I have
          combined my passion for finances with my ability to communicate clearly and empathetically, especially on
          platforms like TikTok. I specialize in simplifying complex finance concepts to help others achieve their
          business goals. I offer digital courses in finance for entrepreneurs, taking advantage of technologies that
          facilitate this exchange of knowledge and optimize the learning experience. My approach is practical, direct,
          and designed to empower others with the tools necessary to succeed in their businesses.</p>
        <div>
          <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <!-- Enlaces útiles -->
      <div class="col-6 col-md-2 mb-3">
        <h5>USEFUL LINKS</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">About</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
      <!-- Nuestros servicios -->
      <div class="col-6 col-md-2 mb-3">
        <h5>MY COURSES</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white">Digital Marketing: Accelerate your Entrepreneurship</a></li>
          <li class="mb-2"><a href="#" class="text-white">Finance for Entrepreneurs: Master your Numbers</a></li>
          <li class="mb-2"><a href="#" class="text-white">Smart Investment for Beginners</a></li>
          <li class="mb-2"><a href="#" class="text-white">Budget Strategies for Startups</a></li>
          <li class="mb-2"><a href="#" class="text-white">Financial Planning for Business Success</a></li>
          <li class="mb-2"><a href="#" class="text-white">Debt and Credit Management for Growing Businesses</a></li>
        </ul>
      </div>
      <!-- Contacto -->
      <div class="col-12 col-md-4 mb-3">
        <h5>CONTACT ME</h5>
        <p>
          A108 Adam Street <br>
          New York, NY 535022<br>
          United States
        </p>
        <p>Phone: +1 5589 55488 55</p>
        <p>Email: info.com</p>
      </div>
    </div>
  </div>
</footer>

